@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.input {
    color: #030303 !important;
    font-family: "Mitr", sans-serif !important;
    font-style: normal !important;
    border: 1px solid #000000; /* ขอบสีเทา */
    border-radius: 6px; /* มุมโค้ง */
    padding: 8px 8px; /* ระยะห่างภายใน */
    transition: border-color 0.3s; /* เอฟเฟกต์ในการเปลี่ยนสีขอบ */
  }
  
  .input:focus {
    border-color: #000000; /* เปลี่ยนสีขอบเมื่ออยู่ในโหมดโฟกัส */
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); /* เพิ่มเงาเมื่อโฟกัส */
  }
  
  .input::placeholder {
    color: #000000; /* สีของ placeholder */
    opacity: 1; /* แสดง placeholder ให้ชัดเจน */
  }
  
  h1 {
    color: #5C2C06 !important;
    font-family: "Mitr", sans-serif!important;
    font-weight: 450!important;
    font-style: normal!important;
    font-size: 2.2rem;
  }

.title {
text-align: left; /* จัดแนวข้อความไปทางขวา */
  margin: 0; /* ลบระยะขอบเพื่อให้ชิดขวา */
}