body {

  margin: 0;

}


.login {

  margin: 0;

  height: 100vh;

  width: 100%;

  /* overflow: scroll; */

  background-color: #F5F5F5;

}


.header {

  text-align: center;

}


.card-login {

  overflow-y: scroll;

  width: 70%;

  height: auto;

  max-height: 550px;

}


.images-logo {

  width: 100%;

  height: auto;

  max-height: 400px;

  object-fit: contain;

}


.login-form-button {

  width: 100%;

}

.custom-menu {
  background-color: #745F47; /* สีของ bg */
}

.custom-menu .ant-menu-item {
  color: #FFFFFF; /* เปลี่ยนสีฟอนต์ในเมนูทั้งหมด */
}

.custom-menu .ant-menu-item-selected {
  color: #3C3C3B; /* สีฟอนต์เมื่อถูกเลือก */
}
