@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {

  margin: 0;
  

}


.login {

  margin: 0;

  height: 100vh;

  width: 100%;

  /* overflow: scroll; */

  background-color: #F5F5F5;

}


.header {
  text-align: center;
  height: 75px;
  background-color: #978479;
  background-position: center;
  background-size: cover;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  
}

.header-logo {
  width: 95px;
  height: 75px;
}

.header-logo img {
  width: 75px;
  height: 75px;
}

.text-head{
  width: 8000px;
  color: #33210a !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: "Mitr", sans-serif;
  font-weight: normal;
  font-size: 25px;
  font-style: normal;
  text-align: left;
}


.card-login {

  overflow-y: scroll;

  width: 70%;

  height: auto;

  max-height: 550px;

}

.images-logo {

  width: 100%;

  height: auto;

  max-height: 400px;

  object-fit: contain;

}

.login-form-button {

  width: 100%;

}


.add-button {
  background-color: #b80303;
  border-radius: 22px;
  border: 0px;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
  justify-content: center; 
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 0px;
  margin: 0px;
  min-height: 20px;
  min-width: 20px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.add-button:hover {
  background-color: #ff0000;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .add-button {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.middle-bg{
  background-color: #fffef7;
}

.confirm-button{
  background-color: #06bb00;
  border-radius: 22px;
}

.back-button{
  background-color: #e0e0e0;
  border-radius: 22px;
}

.btn-1 {
  outline: none;
  box-shadow: none;
  background: #000;
  color: #fff;
  border-radius: 30px;
  transition: all .25s ease;
  
}

.btn-2 {
  outline: none;
  box-shadow: none;
  background: #ccc6c6;
  color: #2b2727;
  border-radius: 6px;
  transition: all .25s ease;
  
}

.btn-1:hover {
  background: #fff !important;
  color: #000 !important;
  transform: translate(-2px, -2px);
}
.btn-1:active {
  background: #ddd !important; /* Slightly different color when active */
  color: #000 !important;
  transform: translate(-1px, -1px); /* Slightly different transform when active */
}
.name-table{
  color: #000000 !important;
  font-family: "Mitr", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;

}

.front-1{
  color: #000000 !important;
  font-family: "Mitr", sans-serif!important;
  font-weight: normal!important;
  font-size: 13px!important;
  font-style: normal!important;

}

.btn-delete {
  background: #FF4D4F;
  color: #000;
  border-radius: 30px;
  transition: all .25s ease;
  
}

.btn-delete:hover {
  background: #D9D9D9 !important;
  color: #000 !important;
  transform: translate(-3px, -3px);
}

.header-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
  justify-content: left;
}


.header-button {
  display: flex;
  align-items: last baseline;
}

.header-button a {
  color: inherit;
  text-decoration: none;
}

.header-menu .ant-menu-item {
  color: #ffffff !important;
  font-family: "Mitr", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
}

.header-menu .ant-menu-item a {
  color: inherit; /* Inherit color from parent */
  text-decoration: none;
}

.header-menu .ant-menu-item:hover {
  background-color: #533f38!important; /* Hover color */
}

.header-menu .ant-menu-item-active,
.header-menu .ant-menu-item-selected {
  background-color: #533f38!important; /* Active/selected color */
  border-bottom: 2px solid #ffffff; /* Optional: adds a bottom border */
}

.header-menu .ant-menu-item-active a,
.header-menu .ant-menu-item-selected a {
  color: #ffffff;
}